/*
 * The page specific stylesheet
 * 
 * Developed by Adam Nutt
 * 
 * 
 */

body{
	background: #163342;
	color: #6CA891;
}

#img_gallery {
	min-height: 50px;
	height: 50px;
}


#large_img {
	font-family:"MS Sans Serif", Geneva, sans-serif;
	margin: 0;
	left: 0;
	top: 0;
	overflow:hidden;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 99%;
	height: 90%;
}


#footer {
	margin-left: 5px;
}

div#jpipContainer {
	position: absolute;
	left: 80%;
	top: 10px;
	z-index: 2;
}

div#toolbar {
	height: 15px;
	background: #26596A;
	cursor: move;
}

#mainImage {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

div#jpipNavigation, div#viewport {
	position: absolute;
	margin: 0px;
	border: 2px solid #5ADED4;
	cursor: move;
	z-index: 3;
}

div#navUI {
	cursor:default;
	line-height: 0px;
	position: relative;
	background: #4DAAAB;
	opacity: 0.7;
	width: auto;
	padding: 10px;
}

div#navUI img#left, div#navUI img#right {
	margin-top: 40px;
	margin-left: -10px;
	margin-right: -10px;
}

div#navUI img#down {
	margin-left: 12px;
	margin-top: -8px;
}
